<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="courtCase">
      <h2 data-cy="courtCaseDetailsHeading"><span jhiTranslate="eCourtApp.courtCase.detail.title">Court Case</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ courtCase.id }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.caseNo">Case No</span></dt>
        <dd>
          <span>{{ courtCase.caseNo }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.villageName">Village Name</span></dt>
        <dd>
          <span>{{ courtCase.villageName }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.accuserName">Accuser Name</span></dt>
        <dd>
          <span>{{ courtCase.accuserName }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.applicationNo">Application No</span></dt>
        <dd>
          <span>{{ courtCase.applicationNo }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.landReferenceNo">Land Reference No</span></dt>
        <dd>
          <span>{{ courtCase.landReferenceNo }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.firstAppeal">First Appeal</span></dt>
        <dd>
          <span>{{ courtCase.firstAppeal }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.amount">Amount</span></dt>
        <dd>
          <span>{{ courtCase.amount }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.projectName">Project Name</span></dt>
        <dd>
          <span>{{ courtCase.projectName }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.courtName">Court Name</span></dt>
        <dd>
          <span>{{ courtCase.courtName }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.defendantName">Defendant Name</span></dt>
        <dd>
          <span>{{ courtCase.defendantName }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.caseDescription">Case Description</span></dt>
        <dd>
          <span>{{ courtCase.caseDescription }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.caseFilingDate">Case Filing Date</span></dt>
        <dd>
          <span>{{ courtCase.caseFilingDate }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.totalClaimAmount">Total Claim Amount</span></dt>
        <dd>
          <span>{{ courtCase.totalClaimAmount }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.caseOfficer">Case Officer</span></dt>
        <dd>
          <span>{{ courtCase.caseOfficer }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.caselawyer">Caselawyer</span></dt>
        <dd>
          <span>{{ courtCase.caselawyer }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.nextHearingDate">Next Hearing Date</span></dt>
        <dd>
          <span>{{ courtCase.nextHearingDate }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.amountDepositeInCourt">Amount Deposite In Court</span></dt>
        <dd>
          <span>{{ courtCase.amountDepositeInCourt }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.lar">Lar</span></dt>
        <dd>
          <span>{{ courtCase.lar }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.incCompensation">Inc Compensation</span></dt>
        <dd>
          <span>{{ courtCase.incCompensation }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.amountPaidSLO">Amount Paid SLO</span></dt>
        <dd>
          <span>{{ courtCase.amountPaidSLO }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.chequeNo">Cheque No</span></dt>
        <dd>
          <span>{{ courtCase.chequeNo }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.chequeDate">Cheque Date</span></dt>
        <dd>
          <span>{{ courtCase.chequeDate }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.appealNo">Appeal No</span></dt>
        <dd>
          <span>{{ courtCase.appealNo }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.courtAmount">Court Amount</span></dt>
        <dd>
          <span>{{ courtCase.courtAmount }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.appealAmount">Appeal Amount</span></dt>
        <dd>
          <span>{{ courtCase.appealAmount }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.appealDate">Appeal Date</span></dt>
        <dd>
          <span>{{ courtCase.appealDate }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.description">Description</span></dt>
        <dd>
          <span>{{ courtCase.description }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.comment">Comment</span></dt>
        <dd>
          <span>{{ courtCase.comment }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.caseStatus">Case Status</span></dt>
        <dd>
          <span>{{ courtCase.caseStatus }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.freefield1">Freefield 1</span></dt>
        <dd>
          <span>{{ courtCase.freefield1 }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.freefield2">Freefield 2</span></dt>
        <dd>
          <span>{{ courtCase.freefield2 }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.freefield3">Freefield 3</span></dt>
        <dd>
          <span>{{ courtCase.freefield3 }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ courtCase.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ courtCase.lastModified }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.totalArea">Total Area</span></dt>
        <dd>
          <span>{{ courtCase.totalArea }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.landAcquisitionOfficerNo">Land Acquisition Officer No</span></dt>
        <dd>
          <span>{{ courtCase.landAcquisitionOfficerNo }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.relatedClauses">Related Clauses</span></dt>
        <dd>
          <span>{{ courtCase.relatedClauses }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.section4NotificationDate">Section 4 Notification Date</span></dt>
        <dd>
          <span>{{ courtCase.section4NotificationDate }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.judgementDate">Judgement Date</span></dt>
        <dd>
          <span>{{ courtCase.judgementDate }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.accuserLawyer">Accuser Lawyer</span></dt>
        <dd>
          <span>{{ courtCase.accuserLawyer }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.defedantLawyer">Defedant Lawyer</span></dt>
        <dd>
          <span>{{ courtCase.defedantLawyer }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.natureResult">Nature Result</span></dt>
        <dd>
          <span>{{ courtCase.natureResult }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.applicationNoFileAdditionalInterest">Application No File Additional Interest</span></dt>
        <dd>
          <span>{{ courtCase.applicationNoFileAdditionalInterest }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.currentApplicationStatus">Current Application Status</span></dt>
        <dd>
          <span>{{ courtCase.currentApplicationStatus }}</span>
        </dd>
        <dt>
          <span jhiTranslate="eCourtApp.courtCase.amountAdditionalInterestdefendantDistrictCourt"
            >Amount Additional Interestdefendant District Court</span
          >
        </dt>
        <dd>
          <span>{{ courtCase.amountAdditionalInterestdefendantDistrictCourt }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.currentCaseStatus">Current Case Status</span></dt>
        <dd>
          <span>{{ courtCase.currentCaseStatus }}</span>
        </dd>
        <dt><span jhiTranslate="eCourtApp.courtCase.bankGuaranteeDetailApplicationNo">Bank Guarantee Detail Application No</span></dt>
        <dd>
          <span>{{ courtCase.bankGuaranteeDetailApplicationNo }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/court-case', courtCase.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
