<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-court-case-heading" data-cy="CourtCaseCreateUpdateHeading" jhiTranslate="eCourtApp.courtCase.home.createOrEditLabel">
        Create or edit a Court Case
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.caseNo" for="field_caseNo">Case No</label>
          <input type="text" class="form-control" name="caseNo" id="field_caseNo" data-cy="caseNo" formControlName="caseNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.villageName" for="field_villageName">Village Name</label>
          <input
            type="text"
            class="form-control"
            name="villageName"
            id="field_villageName"
            data-cy="villageName"
            formControlName="villageName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.accuserName" for="field_accuserName">Accuser Name</label>
          <input
            type="text"
            class="form-control"
            name="accuserName"
            id="field_accuserName"
            data-cy="accuserName"
            formControlName="accuserName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.applicationNo" for="field_applicationNo">Application No</label>
          <input
            type="text"
            class="form-control"
            name="applicationNo"
            id="field_applicationNo"
            data-cy="applicationNo"
            formControlName="applicationNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.landReferenceNo" for="field_landReferenceNo">Land Reference No</label>
          <input
            type="text"
            class="form-control"
            name="landReferenceNo"
            id="field_landReferenceNo"
            data-cy="landReferenceNo"
            formControlName="landReferenceNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.firstAppeal" for="field_firstAppeal">First Appeal</label>
          <input
            type="text"
            class="form-control"
            name="firstAppeal"
            id="field_firstAppeal"
            data-cy="firstAppeal"
            formControlName="firstAppeal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.amount" for="field_amount">Amount</label>
          <input type="text" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.projectName" for="field_projectName">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="projectName"
            id="field_projectName"
            data-cy="projectName"
            formControlName="projectName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.courtName" for="field_courtName">Court Name</label>
          <input type="text" class="form-control" name="courtName" id="field_courtName" data-cy="courtName" formControlName="courtName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.defendantName" for="field_defendantName">Defendant Name</label>
          <input
            type="text"
            class="form-control"
            name="defendantName"
            id="field_defendantName"
            data-cy="defendantName"
            formControlName="defendantName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.caseDescription" for="field_caseDescription">Case Description</label>
          <input
            type="text"
            class="form-control"
            name="caseDescription"
            id="field_caseDescription"
            data-cy="caseDescription"
            formControlName="caseDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.caseFilingDate" for="field_caseFilingDate">Case Filing Date</label>
          <input
            type="text"
            class="form-control"
            name="caseFilingDate"
            id="field_caseFilingDate"
            data-cy="caseFilingDate"
            formControlName="caseFilingDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.totalClaimAmount" for="field_totalClaimAmount"
            >Total Claim Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="totalClaimAmount"
            id="field_totalClaimAmount"
            data-cy="totalClaimAmount"
            formControlName="totalClaimAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.caseOfficer" for="field_caseOfficer">Case Officer</label>
          <input
            type="text"
            class="form-control"
            name="caseOfficer"
            id="field_caseOfficer"
            data-cy="caseOfficer"
            formControlName="caseOfficer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.caselawyer" for="field_caselawyer">Caselawyer</label>
          <input
            type="text"
            class="form-control"
            name="caselawyer"
            id="field_caselawyer"
            data-cy="caselawyer"
            formControlName="caselawyer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.nextHearingDate" for="field_nextHearingDate">Next Hearing Date</label>
          <input
            type="text"
            class="form-control"
            name="nextHearingDate"
            id="field_nextHearingDate"
            data-cy="nextHearingDate"
            formControlName="nextHearingDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.amountDepositeInCourt" for="field_amountDepositeInCourt"
            >Amount Deposite In Court</label
          >
          <input
            type="text"
            class="form-control"
            name="amountDepositeInCourt"
            id="field_amountDepositeInCourt"
            data-cy="amountDepositeInCourt"
            formControlName="amountDepositeInCourt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.lar" for="field_lar">Lar</label>
          <input type="text" class="form-control" name="lar" id="field_lar" data-cy="lar" formControlName="lar" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.incCompensation" for="field_incCompensation">Inc Compensation</label>
          <input
            type="text"
            class="form-control"
            name="incCompensation"
            id="field_incCompensation"
            data-cy="incCompensation"
            formControlName="incCompensation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.amountPaidSLO" for="field_amountPaidSLO">Amount Paid SLO</label>
          <input
            type="text"
            class="form-control"
            name="amountPaidSLO"
            id="field_amountPaidSLO"
            data-cy="amountPaidSLO"
            formControlName="amountPaidSLO"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.chequeNo" for="field_chequeNo">Cheque No</label>
          <input type="text" class="form-control" name="chequeNo" id="field_chequeNo" data-cy="chequeNo" formControlName="chequeNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.chequeDate" for="field_chequeDate">Cheque Date</label>
          <input
            type="text"
            class="form-control"
            name="chequeDate"
            id="field_chequeDate"
            data-cy="chequeDate"
            formControlName="chequeDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.appealNo" for="field_appealNo">Appeal No</label>
          <input type="text" class="form-control" name="appealNo" id="field_appealNo" data-cy="appealNo" formControlName="appealNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.courtAmount" for="field_courtAmount">Court Amount</label>
          <input
            type="text"
            class="form-control"
            name="courtAmount"
            id="field_courtAmount"
            data-cy="courtAmount"
            formControlName="courtAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.appealAmount" for="field_appealAmount">Appeal Amount</label>
          <input
            type="text"
            class="form-control"
            name="appealAmount"
            id="field_appealAmount"
            data-cy="appealAmount"
            formControlName="appealAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.appealDate" for="field_appealDate">Appeal Date</label>
          <input
            type="text"
            class="form-control"
            name="appealDate"
            id="field_appealDate"
            data-cy="appealDate"
            formControlName="appealDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.caseStatus" for="field_caseStatus">Case Status</label>
          <input
            type="text"
            class="form-control"
            name="caseStatus"
            id="field_caseStatus"
            data-cy="caseStatus"
            formControlName="caseStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.freefield1" for="field_freefield1">Freefield 1</label>
          <input
            type="text"
            class="form-control"
            name="freefield1"
            id="field_freefield1"
            data-cy="freefield1"
            formControlName="freefield1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.freefield2" for="field_freefield2">Freefield 2</label>
          <input
            type="text"
            class="form-control"
            name="freefield2"
            id="field_freefield2"
            data-cy="freefield2"
            formControlName="freefield2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.freefield3" for="field_freefield3">Freefield 3</label>
          <input
            type="text"
            class="form-control"
            name="freefield3"
            id="field_freefield3"
            data-cy="freefield3"
            formControlName="freefield3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.lastModified" for="field_lastModified">Last Modified</label>
          <input
            type="text"
            class="form-control"
            name="lastModified"
            id="field_lastModified"
            data-cy="lastModified"
            formControlName="lastModified"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.totalArea" for="field_totalArea">Total Area</label>
          <input type="text" class="form-control" name="totalArea" id="field_totalArea" data-cy="totalArea" formControlName="totalArea" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.landAcquisitionOfficerNo" for="field_landAcquisitionOfficerNo"
            >Land Acquisition Officer No</label
          >
          <input
            type="text"
            class="form-control"
            name="landAcquisitionOfficerNo"
            id="field_landAcquisitionOfficerNo"
            data-cy="landAcquisitionOfficerNo"
            formControlName="landAcquisitionOfficerNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.relatedClauses" for="field_relatedClauses">Related Clauses</label>
          <input
            type="text"
            class="form-control"
            name="relatedClauses"
            id="field_relatedClauses"
            data-cy="relatedClauses"
            formControlName="relatedClauses"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.section4NotificationDate" for="field_section4NotificationDate"
            >Section 4 Notification Date</label
          >
          <input
            type="text"
            class="form-control"
            name="section4NotificationDate"
            id="field_section4NotificationDate"
            data-cy="section4NotificationDate"
            formControlName="section4NotificationDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.judgementDate" for="field_judgementDate">Judgement Date</label>
          <input
            type="text"
            class="form-control"
            name="judgementDate"
            id="field_judgementDate"
            data-cy="judgementDate"
            formControlName="judgementDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.accuserLawyer" for="field_accuserLawyer">Accuser Lawyer</label>
          <input
            type="text"
            class="form-control"
            name="accuserLawyer"
            id="field_accuserLawyer"
            data-cy="accuserLawyer"
            formControlName="accuserLawyer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.defedantLawyer" for="field_defedantLawyer">Defedant Lawyer</label>
          <input
            type="text"
            class="form-control"
            name="defedantLawyer"
            id="field_defedantLawyer"
            data-cy="defedantLawyer"
            formControlName="defedantLawyer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.natureResult" for="field_natureResult">Nature Result</label>
          <input
            type="text"
            class="form-control"
            name="natureResult"
            id="field_natureResult"
            data-cy="natureResult"
            formControlName="natureResult"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="eCourtApp.courtCase.applicationNoFileAdditionalInterest"
            for="field_applicationNoFileAdditionalInterest"
            >Application No File Additional Interest</label
          >
          <input
            type="text"
            class="form-control"
            name="applicationNoFileAdditionalInterest"
            id="field_applicationNoFileAdditionalInterest"
            data-cy="applicationNoFileAdditionalInterest"
            formControlName="applicationNoFileAdditionalInterest"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.currentApplicationStatus" for="field_currentApplicationStatus"
            >Current Application Status</label
          >
          <input
            type="text"
            class="form-control"
            name="currentApplicationStatus"
            id="field_currentApplicationStatus"
            data-cy="currentApplicationStatus"
            formControlName="currentApplicationStatus"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="eCourtApp.courtCase.amountAdditionalInterestdefendantDistrictCourt"
            for="field_amountAdditionalInterestdefendantDistrictCourt"
            >Amount Additional Interestdefendant District Court</label
          >
          <input
            type="text"
            class="form-control"
            name="amountAdditionalInterestdefendantDistrictCourt"
            id="field_amountAdditionalInterestdefendantDistrictCourt"
            data-cy="amountAdditionalInterestdefendantDistrictCourt"
            formControlName="amountAdditionalInterestdefendantDistrictCourt"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="eCourtApp.courtCase.currentCaseStatus" for="field_currentCaseStatus"
            >Current Case Status</label
          >
          <input
            type="text"
            class="form-control"
            name="currentCaseStatus"
            id="field_currentCaseStatus"
            data-cy="currentCaseStatus"
            formControlName="currentCaseStatus"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="eCourtApp.courtCase.bankGuaranteeDetailApplicationNo"
            for="field_bankGuaranteeDetailApplicationNo"
            >Bank Guarantee Detail Application No</label
          >
          <input
            type="text"
            class="form-control"
            name="bankGuaranteeDetailApplicationNo"
            id="field_bankGuaranteeDetailApplicationNo"
            data-cy="bankGuaranteeDetailApplicationNo"
            formControlName="bankGuaranteeDetailApplicationNo"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
